
body{
    background: linear-gradient(to right, rgb(98, 98, 239) , rgb(174, 218, 233));
}
.entire-body{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(340px, 1fr) );
    justify-items: center;
    gap: 16px;
}
.box-model{
    width: 340px;
    height: 600px;
    border-radius: 20px;
    background-color: white;
    margin: 20px;
}
.objectsection{
    display: flex;
    justify-content: center;
    opacity: 0.55;
    color: rgb(60, 57, 57);
    margin: 5px;
}
.price-per-month{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 2px;
}
.smaller-text{
    font-size: 12px;
    margin-top: 35px;
}
.line{
    margin-left: 10%;
    width: 80%;
    border: 1px solid #aca0a0;
}
.tickmark{
    list-style-type: '\2713';
}
.common{
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
}
.wrongmark{
    list-style-type: 'X';
}
.uncommon{
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    opacity: 0.55;
}
.payment-option{
    margin-left: 10%;
    width: 80%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(31, 180, 221);
    cursor: pointer;
}
button:hover{
    background-color: rgb(27, 88, 241);
}